<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
   
    <title>Proyecto CultivandoBienestar</title>
     <!--Style CSS-->
     <link rel="stylesheet" type="text/css" href="styles.css"/>
       <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <!--Fontawesome--> 
   <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!--Google Font-->  
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
    <body>
        <section id="global">
            <!--Header-->
            <header>
                <div id="header">
                <div id="logo">Cultivando <br/> Bienestar</div>
                <nav id="menu">
                    <ul >
                        <li><a href="#">El CBD</a></li>
                        <li><a href="#">Proyecto Social</a></li>
                        <li><a href="#">Productos</a></li>
                    </ul>
                </nav>
                </div>
            </header>
             <!--Content-->
        <section id="content">
            <div id="posts">
                <article>
                <h1>H0 - ROBOTO 168</h1>
                <h2>H1 - ROBOTO 110</h2>
                <h3>H2 - ROBOTO 85</h3>
                <h4>H3 - ROBOTO 60</h4>
                <h5>H4 - ROBOTO 32</h5>
                <h6>H5 - ROBOTO 24</h6><br/><br/>
                <p>Here goes the text</p>
                </article>
            </div>
        </section>
            <!--Complements-->
            
                
             <button type="button" class="button1">ME INTERESA</button>
             <button type="button" class="button2">ME INTERESA</button> 
             <button type="button" class="button3">ME INTERESA</button>  
                 
                <div id="icons">
                    <i class="fas fa-map-marker-alt"><a href="#"></a></i>
                    <i class="fas fa-hand-holding-heart"><a href="#"></a></i>
                    <i class="fab fa-facebook-square"><a href="#"></a></i>
                    <i class="fab fa-youtube"><a href="#"></a></i>
                    <i class="fab fa-instagram"><a href="#"></a></i>
                    <i class="fas fa-chevron-circle-up"><a href="#"></a></i>
                </div>
                
                <div id="info">
                <span>Cultivando <br/> Bienestar</span>
                <img src="img/medical-maryjane.png"/>
                <img src="img/download.png"/>
                </div>
               <div id="fixclear"></div>
                <div id="pics">
                    <img src="img/amarillo.png"/>
                    <img src="img/celeste.png"/>
                    <img src="img/rosa.png"/>
                    
                    
                </div>
    
        </section>
    </body>
    </html>